#wpadminbar {
    @include responsive(xs-sm) {
        display: none;
    }
}
.html.html {
    @include responsive(xs-sm) {
        margin-top: 0 !important;
    }
}
#wpadminbar *:not(.ab-icon) {
    font-family: var(--primary-font) !important;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: inherit;
    @include transition(300ms);
    @include on-event {
        color: var(--torquoise);
    }
}

.button-box.button-box {
    @include button {
        @include button-style;
    }
    &.button-tangerine {
        @include button {
            background-color: var(--tangerine);
            color: var(--forest-gray);
            border-color: var(--tangerine);
            @include on-event {
                border-color: var(--white);
                background-color: var(--white);
            }
        }
    }
    &.button-readmore,
    &.button-previous {
        @include button {
            padding: 0;
            border: none;
        }
    }
    &.button-readmore {
        @include button {
            @include after {
                font-family: swiper-icons;
                font-size: 11px;
                text-transform: none !important;
                letter-spacing: 0;
                font-variant: initial;
                line-height: 1;
                font-weight: bold;
                content: "next";
                margin-left: 10px;
            }
        }
    }
    &.button-previous {
        @include button {
            @include before {
                font-family: swiper-icons;
                font-size: 11px;
                text-transform: none !important;
                letter-spacing: 0;
                font-variant: initial;
                line-height: 1;
                font-weight: bold;
                content: "prev";
                margin-right: 10px;
            }
        }
    }
    &.button-bordered {
        @include button {
            @include on-event {
                background-color: var(--white);
                color: var(--forest-gray);
                border-color: var(--white);
            }
        }
    }
}

section:not(.hero):not(.has-background) {
    .button-box.button-box {
        &.button-tangerine {
            @include button {
                @include on-event {
                    border-color: var(--tangerine);
                }
            }
        }
    }
}

.bg-light-gray.bg-light-gray {
    .button-tangerine.button-tangerine.button-tangerine {
        a {
            @include on-event {
                background-color: var(--forest-gray);
                border-color: var(--forest-gray);
                color: var(--white);
            }
        }
    }
}

.wpcf7-submit.wpcf7-submit.wpcf7-submit {
    background-color: var(--forest-gray);
    @include button-style;
    border-color: var(--forest-gray);
    color: var(--white);
}

.decor {
    display: flex;
    flex-direction: column;
    display: inline-block;
    @include before {
        content: "";
        width: 50px;
        height: 5px;
        background-color: var(--decor-color, var(--white));
        display: block;
        @include responsive(mobile) {
            width: 35px;
            height: 3px;
        }
    }
}

.text-style-bordered-left {
    padding-left: 20px;
    border-left: 3px solid var(--torquoise);
    @include responsive(mobile) {
        border-width: 5px;
    }
}
.text-style-bordered-left-parent {
    .desc-box {
        padding-left: 20px;
        border-left: 3px solid var(--torquoise);
        @include responsive(mobile) {
            padding-left: 10px;
        }
    }
}

section {
    background-color: var(--bg-color);
    color: var(--text-color);
    @include headings {
        color: var(--heading-color);
    }
}

.content-margin {
    > * {
        @include not-last-child {
            margin-bottom: 24px;
        }
    }
}

.content-margin-20 {
    > * {
        @include not-last-child {
            margin-bottom: 20px;
        }
    }
}

@include inputs {
    text-decoration: none;
    padding: 12px 24px;
    line-height: 1;
    display: inline-block;
    border-radius: 0;
    border: 1px solid var(--forest-gray);
    font-size: 1rem;
    max-width: 100%;
    width: 100%;
    outline: none;
}

.image-style {
    position: relative;
    padding: var(--padding, 35%);
    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.image-box {
    img {
        @include transition(500ms);
    }
}

.swiper-nav-holder.swiper-nav-holder {
    display: flex;
    justify-content: flex-end;
    --swiper-navigation-color: var(--forest-gray);
    margin-top: 30px;
    > div {
        position: static;
        width: var(--swiper-navigation-size);
        border-radius: 50%;
        background-color: var(--tangerine);
        margin: 0;
        transition: 300ms;
        @include after {
            font-size: 18px;
            font-weight: bold;
            transition: 300ms;
        }
        @include not-last-child {
            margin-right: 8px;
        }
        @include on-event {
            background-color: var(--forest-gray);
            border-color: var(--forest-gray);
            @include after {
                color: var(--white);
            }
        }
    }
}

.bg-forest-gray {
    .swiper-nav-holder.swiper-nav-holder {
        > div {
            @include on-event {
                background-color: var(--white);
                border-color: var(--white);
                @include after {
                    color: var(--forest-gray);
                }
            }
        }
    }
}

.swiper-pagination.swiper-pagination {
    position: static;
    display: flex;
    justify-content: flex-end;
    --swiper-pagination-bullet-horizontal-gap: 2.5px;
    .swiper-pagination-bullet {
        --swiper-pagination-bullet-height: 2px;
        --swiper-pagination-bullet-width: 30px;
        background-color: var(--gray);
        opacity: 1;
        &.swiper-pagination-bullet-active {
            background-color: var(--black);
            @include responsive(xs) {
                background-color: var(--forest-gray);
            }
        }
        @include responsive(xs) {
            --swiper-pagination-bullet-height: 8px;
            --swiper-pagination-bullet-width: 8px;
        }
        @include responsive(xs) {
            background-color: var(--white);
        }
    }
    @include responsive(xs) {
        margin-top: 50px;
        justify-content: center;
        --swiper-pagination-bullet-horizontal-gap: 4px;
    }
}
section {
    &:not(.has-background) {
        .swiper-pagination.swiper-pagination .swiper-pagination-bullet {
            &:not(.swiper-pagination-bullet-active) {
                background-color: var(--gray2);
            }
        }
    }
    &.bg-forest-gray {
        .swiper-pagination.swiper-pagination .swiper-pagination-bullet {
            background-color: var(--gray2);
            &.swiper-pagination-bullet-active {
                background-color: var(--white);
            }
        }
    }
}

.heading-link {
    display: inline-block;
    .heading {
        margin-bottom: 0;
    }
}

.heading-line {
    position: relative;
    .heading {
        display: inline-block;
        background-color: var(--white, var(--bg-color));
        padding-left: 20px;
        padding-right: 20px;
        margin-left: -20px;
        margin-right: -20px;
    }
    @include before {
        content: "";
        height: 2px;
        background-color: var(--torquoise);
        position: absolute;
        width: calc(100vw + 40px);
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
    }
}

.plus-minus {
    width: 18px;
    height: 18px;
    flex: 0 0 18px;
    position: relative;
    @include transition(500ms);
    @include before-after {
        content: "";
        background-color: currentColor;
        position: absolute;
    }
    @include before {
        width: 2px;
        height: 18px;
        left: 50%;
        @include transform(translateX(-50%));
    }
    @include after {
        width: 18px;
        height: 2px;
        top: 50%;
        @include transform(translateY(-50%));
    }
}
.accordion.accordion.accordion {
    .accordion-button::after {
        content: none;
    }
}

.socials {
    ul {
        list-style: none;
        li {
            a {
                @include on-event {
                    color: var(--tangerine);
                }
            }
            svg {
                width: 20px;
                height: 20px;
            }
            @include not-last-child {
                margin-right: 14px;
            }
        }
    }
}

.bg-image {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.heading-description.heading-description {
    .icon {
        position: absolute;
        left: 0;
        top: 50%;
        @include transform(translateY(-50%));
        width: 15vw;
    }

    .heading,
    .desc-box {
        position: relative;
    }
    &.icon-right {
        padding-right: calc(15vw + 20px);
        .icon {
            text-align: right;
            left: auto;
            right: 0;
        }
    }

    &.icon-left {
        padding-right: calc(15vw + 20px);
        padding-left: calc(15vw + 20px);
        text-align: center;
        .icon {
            text-align: left;
            left: 0;
            right: auto;
            @include responsive(xs) {
                left: auto;
                right: 0;
            }
        }
        @include responsive(xs) {
            padding-left: 0;
            text-align: left;
        }
    }
    &.content-center {
        padding-left: calc(15vw + 20px);
    }
}

.decor-2 {
    height: 46px;
    border-width: 3px;
    border-color: var(--forest-gray);
    border-left: 3px solid;
    border-right: 3px solid;
    &.decor-top {
        border-top: 3px solid;
    }
    &.decor-bottom {
        border-bottom: 3px solid;
    }
}
.bg-half {
    position: relative;
    @include before {
        position: absolute;
        left: 0;
        width: 50%;
        top: 0;
        bottom: 0;
        background-color: var(--background-color);
        @include responsive(md-lg) {
            content: "";
        }
    }
    @include responsive(xs-sm) {
        > .container {
            > .row {
                > [class*="col-"] {
                    @include first-child {
                        background-color: var(--background-color);
                    }
                }
            }
        }
    }
}

.the-content {
    @include headings {
        margin-top: 3rem;
        margin-bottom: 1rem;
    }
    h5 {
        font-size: 24px;
    }
    h6 {
        font-size: 20px;
    }
    blockquote {
        padding-left: 20px;
        border-left: 2px solid;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    figcaption {
        padding-left: 8px;
        border-left: 2px solid;
        font-size: 12px;
        margin-top: 8px;
        line-height: 1;
    }
    figure {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
}

.social-share-wrap {
    font-family: var(--secondary-font);
    font-size: 18px;
    span {
        margin-bottom: 1rem;
    }
    .social-share-buttons {
        display: inline-flex;
        align-items: center;
        gap: 8px;
    }
    button,
    a {
        padding: 6px;
        background-color: var(--light-gray);
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: none;
        svg {
            width: 20px;
            height: 20px;
        }
    }
}

.dropdown-toggle.dropdown-toggle {
    display: flex;
    align-items: center;
    @include after {
        border: none;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.3977 7.66292C7.17802 7.88259 6.82192 7.88259 6.60225 7.66292L0.867387 1.92804C0.64772 1.70837 0.64772 1.35227 0.867387 1.13259L1.13256 0.867393C1.35222 0.647718 1.70838 0.647718 1.92805 0.867393L6.99997 5.93934L12.0719 0.867393C12.2916 0.647718 12.6477 0.647718 12.8674 0.867393L13.1326 1.13259C13.3522 1.35227 13.3522 1.70837 13.1326 1.92804L7.3977 7.66292Z" fill="%232C3A3D"/></svg>');
        width: 13px;
        height: 8px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        @include transition(400ms);
    }
    &[aria-expanded="true"] {
        @include after {
            @include transform(rotate(-180deg));
        }
    }
}
