header {
    padding-top: 17px;
    padding-bottom: 17px;
    z-index: 9999;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    .header-menu {
        flex-direction: row;
        .menu-item {
            margin-left: 1rem;
            margin-right: 1rem;
            a {
                text-decoration: none;
                font-weight: 900;
                color: var(--white);
                text-transform: uppercase;
                @include on-event {
                    color: var(--torquoise);
                }
            }
        }
    }
    .header-icons {
        a {
            color: var(--white);
            text-decoration: none;
            @include not-last-child {
                margin-right: 10px;
            }
        }
    }
    a {
        @include on-event {
            color: var(--torquoise);
        }
    }

    .site-logo {
        svg {
            @include responsive(mobile) {
                max-width: 119px;
                width: 100%;
                height: auto;
            }
        }
    }
    .menu-burger {
        border: none;
        background-color: transparent;
        padding: 0;
        position: relative;
        color: var(--white);
        outline: none;
        .icon .menu,
        .icon .menu::before,
        .icon .menu::after {
            background-color: currentColor;
            content: "";
            display: block;
            height: 3px;
            position: absolute;
            transition:
                background ease 0.3s,
                top ease 0.3s 0.3s,
                transform ease 0.3s;
            width: 25px;
        }
        .icon {
            cursor: pointer;
            display: block;
            height: 19px;
            width: 25px;
            position: relative;

            .menu {
                left: 0;
                top: 8px;
                @include before {
                    top: -8px;
                }
                @include after {
                    top: 8px;
                }
            }
        }
    }
}

body.mobile-menu-active {
    header {
        .menu-burger {
            .icon {
                .menu {
                    background: transparent;
                    @include before {
                        transform: rotate(45deg);
                    }
                    @include after {
                        transform: rotate(-45deg);
                    }
                    @include before-after {
                        top: 0;
                        transition:
                            top ease 0.3s,
                            transform ease 0.3s 0.3s;
                    }
                }
            }
        }
    }
}

#sideOutMenu {
    top: 80px;
    .offcanvas-body {
        padding: 20px;
    }
    @include responsive(mobile) {
        top: 66.97px;
    }
}

.admin-bar {
    #sideOutMenu {
        @include responsive(md-lg) {
            top: calc(80px + 32px);
        }
    }
    header {
        @include responsive(md-lg) {
            top: 32px;
        }
    }
}

.navbar-nav {
    .menu-item {
        > .nav-link {
            font-weight: 900;
            text-transform: uppercase;
            color: var(--forest-gray);
            &.dropdown-toggle {
                @include on-event {
                    color: var(--torquoise);
                }
            }
        }
        .dropdown-menu {
            border: 0;
            border-radius: 0;
            padding: 0;
            > .menu-item {
                &.current-menu-item {
                    .dropdown-item {
                        background-color: transparent;
                        color: var(--torquoise);
                    }
                }
                .dropdown-item {
                    font-size: 18px;
                    background-color: transparent;
                    color: var(--forest-gray);
                    @include on-event {
                        color: var(--torquoise);
                    }
                }
            }
        }
    }
}
