section.post-sliders {
    .post-sliders-post {
        position: relative;
        .cat-name-holder {
            @include responsive(xs) {
                margin-bottom: 0 !important;
            }
        }
        .swiper-wrapper {
            padding-left: 20px;
            .swiper-slide {
                width: var(--slides-width-wide) !important;
                @include responsive(xs-md) {
                    width: var(--slides-width-desktop) !important;
                }
                @include responsive(xs-sm) {
                    width: var(--slides-width-tablet-landscape) !important;
                }
                @include responsive(xs) {
                    width: var(--slides-width-tablet-portrait) !important;
                }
                @include responsive(mobile) {
                    width: var(--slides-width-mobile) !important;
                }
            }
        }
        .swiper-pagination {
            @include responsive(xs) {
                position: absolute;
                bottom: 0;
                top: auto;
                transform: none;
                margin: 0 !important;
                left: 0;
                right: 0;
                width: auto;
                max-width: 100%;
            }
        }
        @include responsive(xs) {
            padding-bottom: 60px;
            margin-bottom: 50px !important;
        }
    }
}
.blog {
    section.post-sliders {
        --slides-width-wide: 455px;
        --slides-width-desktop: 400px;
        --slides-width-tablet-landscape: 350px;
        --slides-width-tablet-portrait: 300px;
        --slides-width-mobile: 275px;
    }
}
.post-type-archive-podcasts {
    section.post-sliders {
        --slides-width-wide: 390px;
        --slides-width-desktop: 370px;
        --slides-width-tablet-landscape: 350px;
        --slides-width-tablet-portrait: 300px;
        --slides-width-mobile: 275px;
    }
}
section.post {
    .desc-box {
        max-width: 780px;
    }
    .swiper-post-slider {
        margin-right: calc(var(--left-right-padding) - var(--left-right-padding) - var(--left-right-padding));
        margin-left: calc(var(--left-right-padding) - var(--left-right-padding) - var(--left-right-padding));
    }
    .swiper-nav-holder {
        max-width: 100%;
        padding-right: 0;
        padding-left: 0;
    }
    .swiper-wrapper {
        padding-left: 20px;
    }
    &.slide-width {
        .swiper-slide {
            width: var(--slides-width-wide) !important;
            @include responsive(xs-md) {
                width: var(--slides-width-desktop) !important;
            }
            @include responsive(xs-sm) {
                width: var(--slides-width-tablet-landscape) !important;
            }
            @include responsive(xs) {
                width: var(--slides-width-tablet-portrait) !important;
            }
            @include responsive(mobile) {
                width: var(--slides-width-mobile) !important;
            }
        }
    }
}

.post-grid {
    background-color: var(--white);
    overflow: hidden;
    position: relative;

    .post-content {
        padding: 40px;
        color: var(--forest-gray);
        .heading {
            @include transition(500ms);
        }
        > * {
            position: relative;
            z-index: 1;
        }
        @include transition(500ms);
        a {
            color: var(--forest-gray);
        }
        @include responsive(xs-sm) {
            padding: 30px;
        }
        @include responsive(xs) {
            padding: 20px;
        }
        @include responsive(sm-lg) {
            position: absolute;
            background-color: var(--white);
            left: 0;
            right: 0;
            top: auto;
        }
    }
    @include on-event {
        .post-content {
            background-color: var(--tangerine);
        }
    }
}
.post-post,
.post-podcasts {
    .post-grid {
        display: flex;
        flex-direction: column;
        .desc-box {
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            @include transition(500ms);
            @include responsive(sm-lg) {
                opacity: 0;
            }
        }
        .button-readmore {
            @include transition(500ms);
            @include responsive(sm-lg) {
                opacity: 0;
            }
        }
    }
}
.post-post {
    .post-grid {
        .image-box {
            padding: 0;
            height: 55%;
            @include responsive(xs) {
                height: auto;
                padding: 60% 0;
            }
        }
        @include responsive(sm-lg) {
            .post-content {
                top: calc(var(--image-height) - 20px);
            }
        }
        .desc-box {
            -webkit-line-clamp: 5; /* number of lines to show */
            line-clamp: 5;
            @include transition(500ms);
            color: inherit;
            @include responsive(xs) {
                display: none;
            }
        }
        .post-taxonomy-term {
            @include responsive(xs) {
                display: none;
            }
        }
        .title {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1;
            -webkit-box-orient: vertical;
            color: inherit;
        }
        @include on-event {
            .post-content {
                top: 140px;
                .desc-box {
                    opacity: 1;
                }
                .button-readmore {
                    opacity: 1;
                }
            }
        }
        @include responsive(sm-lg) {
            height: calc(var(--height, 424px) + 140px);
        }
    }
}

.post-podcasts {
    .podcast-heading {
        min-height: 52px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 8px !important;
        svg {
            margin-left: 1rem;
        }
    }
    .swiper-post-slider.fixed-height {
        .post-grid {
            .post-content {
                @include responsive(sm-lg) {
                    height: 124px;
                }
            }
        }
    }

    .post-grid {
        height: var(--height);
        .image-box {
            flex-grow: 1;
            --padding: 30%;
            @include transition(500ms);
            @include responsive(xs) {
                --padding: 40%;
            }
        }
        .post-content {
            padding: 34px 20px;
            position: relative;
            left: 0;
            right: 0;
            @include transition(500ms);
            overflow: hidden;
        }
        .desc-box {
            font-size: 1rem;
            -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2;
            p {
                font-size: inherit;
            }
        }
        .title {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2;
            -webkit-box-orient: vertical;
            color: inherit;
        }

        @include responsive(sm-lg) {
            height: var(--height);
            @include on-event {
                .post-content {
                    height: var(--height, 228.38px) !important;
                    .desc-box {
                        opacity: 1;
                    }
                    .button-readmore {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.post-testimonials {
    overflow: hidden;
    .swiper-nav-holder {
        margin-top: -10px;
    }
}

.testimonial-grid {
    padding: 20px;
    -webkit-box-shadow:
        0px 20px 24px -4px rgba(0, 0, 0, 8%),
        0px 8px 8px -4px rgba(0, 0, 0, 3%);
    -moz-box-shadow:
        0px 20px 24px -4px rgba(0, 0, 0, 8%),
        0px 8px 8px -4px rgba(0, 0, 0, 3%);
    box-shadow:
        0px 20px 24px -4px rgba(0, 0, 0, 8%),
        0px 8px 8px -4px rgba(0, 0, 0, 3%);
    margin-bottom: 40px;
    @include transition(500ms);
    .author-name {
        font-style: italic;
        font-weight: bold;
    }
    .author-position {
        p {
            font-size: 1rem;
        }
    }
    .wp-block-image {
        display: block;
    }
    @include on-event {
        background-color: var(--light-gray);
    }
}

.post-team {
    --padding: 60% 0;
    .row {
        --bs-gutter-y: 2rem;
        --bs-gutter-x: 2rem;
    }
}

.team-grid {
    background-color: var(--light-gray);
    .team-details {
        padding: 20px;
        .team-name {
            font-family: var(--primary-font);
            font-weight: 900;
            font-size: 16px;
            margin-bottom: 5px;
        }
        .team-position {
            font-style: italic;
            font-weight: bold;
        }
    }
}

.post-taxonomy-term {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    a {
        padding: 5px;
        text-decoration: none;
        color: var(--forest-gray);
        background-color: var(--light-gray);
        font-family: var(--secondary-font);
        margin-bottom: 5px;
        @include not-last-child {
            margin-right: 15px;
        }
        @include on-event {
            background-color: var(--torquoise);
        }
    }
}
section.blog-header {
    .image-style {
        --padding: 23%;
    }
}

section.blog-content {
    .share {
        border-bottom: 1px solid var(--forest-gray);
    }
    .the-content {
        > *:first-child {
            margin-top: 0;
        }
    }
}
.author-box {
    img,
    svg {
        width: 40px;
        height: 40px;
        margin-right: 11px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.post-grid-holder {
    @include responsive(xs) {
        display: flex;
        flex-direction: column-reverse;
        .swiper-nav-holder {
            display: none;
        }
    }
}

.post-box-style-1-grid {
    background-color: var(--white);
    overflow: hidden;
    position: relative;
    font-family: var(--secondary-font);
    .post-content {
        padding: 10px;
        .heading {
            font-size: 18px;
            text-transform: initial;
            font-style: italic;
            margin-bottom: 0;
        }
    }
    .author,
    .year {
        font-size: 14px;
    }
}

.post-box-style-3-grid {
    max-width: 205px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slider-section {
    .container > .text-label-style-1 {
        padding-left: 20px;
    }
    .swiper-slide {
        width: var(--width, 252px);
    }
}

.swiper-post-slider-style-2 {
    .swiper-pagination {
        @include responsive(sm-lg) {
            display: none;
        }
    }
    .swiper-wrapper {
        padding-left: 20px;
    }
}

.post-ajax {
    @include transition(400ms);
    &.post-hidden {
        opacity: 0;
        @include transform(translateY(20px));
    }
}

.video-player {
    padding: var(--padding, 93% 0);
    font-family: var(--secondary-font);
    cursor: pointer;
    .video-box {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        video {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .play-button {
        left: 50%;
        top: 50%;
        width: 53px;
        height: 53px;
        transition: 300ms;
        @include transform(translate(-50%, -50%));
        svg {
            width: 53px;
            height: 53px;
            color: var(--white);
        }
    }

    .story-details {
        bottom: 20px;
        right: 20px;
        left: 20px;
        .heading {
            font-style: italic;
            text-transform: initial;
        }
        .username {
            font-size: 14px;
            font-weight: 500;
        }
    }
    &:hover {
        .play-button {
            opacity: 0;
        }
    }
}

.post-box-style-4-grid {
    .post-content {
        padding: 20px;
        bottom: 0;
        left: 0;
        right: 0;
        @include before {
            @include transition(400ms);
            content: "";
            background-color: var(--forest-gray);
            opacity: 0.2;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }
    }
    @include on-event {
        .post-content {
            @include before {
                opacity: 0.8;
            }
        }
    }
}

.video-player-style-2 {
    --padding: 0;
    --bs-border-radius: 0;

    .story-details {
        position: static !important;
        color: var(--forest-gray) !important;
        padding: 10px;
    }
    .title {
        color: var(--forest-gray) !important;
    }
    .video-box {
        padding: 28.5% 0;
        position: relative !important;
    }
    .video-player {
        background-color: var(--light-gray);
        text-decoration: none;
    }
    .video-holder {
        position: relative !important;
    }
}

.video-player-style-3 {
    --padding: 36%;
}

.post-box-style-1-grid-style-2 {
    --padding: 57% 0;
    .post-content {
        background-color: var(--light-gray);
    }
}

.post-box-style-1-grid-avatar {
    .image-style {
        img {
            width: 131px;
            height: 131px;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
            border-radius: 50%;
        }
    }
}

.single-stories,
.single-music {
    section.hero .hero-image:before {
        display: none !important;
    }
}

.stories-feed {
    max-width: 492px;
    margin-left: auto;
    margin-right: auto;s
    padding-bottom: 200px;
    overflow: hidden;
    .swiper {
        overflow: visible;
    }
    .swiper-wrapper {
        .swiper-slide {
            height: var(--height) !important;
        }
    }
}
