section.post-sliders {
    .post-sliders-post {
        position: relative;
        .cat-name-holder {
            @include responsive(xs) {
                margin-bottom: 0 !important;
            }
        }
        .swiper-wrapper {
            padding-left: 20px;
            .swiper-slide {
                width: var(--slides-width-wide) !important;
                @include responsive(xs-md) {
                    width: var(--slides-width-desktop) !important;
                }
                @include responsive(xs-sm) {
                    width: var(--slides-width-tablet-landscape) !important;
                }
                @include responsive(xs) {
                    width: var(--slides-width-tablet-portrait) !important;
                }
                @include responsive(mobile) {
                    width: var(--slides-width-mobile) !important;
                }
            }
        }
        .swiper-pagination {
            @include responsive(xs) {
                position: absolute;
                bottom: 0;
                top: auto;
                transform: none;
                margin: 0 !important;
                left: 0;
                right: 0;
                width: auto;
                max-width: 100%;
            }
        }
        @include responsive(xs) {
            padding-bottom: 60px;
            margin-bottom: 50px !important;
        }
    }
}
.blog {
    section.post-sliders {
        --slides-width-wide: 455px;
        --slides-width-desktop: 400px;
        --slides-width-tablet-landscape: 350px;
        --slides-width-tablet-portrait: 300px;
        --slides-width-mobile: 275px;
    }
}
.post-type-archive-podcasts {
    section.post-sliders {
        --slides-width-wide: 390px;
        --slides-width-desktop: 370px;
        --slides-width-tablet-landscape: 350px;
        --slides-width-tablet-portrait: 300px;
        --slides-width-mobile: 275px;
    }
}
section.post {
    .desc-box {
        max-width: 780px;
    }
    .swiper-post-slider {
        margin-right: calc(var(--left-right-padding) - var(--left-right-padding) - var(--left-right-padding));
        margin-left: calc(var(--left-right-padding) - var(--left-right-padding) - var(--left-right-padding));
    }
    .swiper-nav-holder {
        max-width: 100%;
        padding-right: 0;
        padding-left: 0;
    }
    .swiper-wrapper {
        padding-left: 20px;
    }
    &.slide-width {
        .swiper-slide {
            width: var(--slides-width-wide) !important;
            @include responsive(xs-md) {
                width: var(--slides-width-desktop) !important;
            }
            @include responsive(xs-sm) {
                width: var(--slides-width-tablet-landscape) !important;
            }
            @include responsive(xs) {
                width: var(--slides-width-tablet-portrait) !important;
            }
            @include responsive(mobile) {
                width: var(--slides-width-mobile) !important;
            }
        }
    }
}

.post-grid {
    background-color: var(--white);
    overflow: hidden;
    position: relative;

    .post-content {
        padding: 40px;
        color: var(--forest-gray);
        @include transition(500ms);
        a {
            color: var(--forest-gray);
        }
        @include responsive(xs-sm) {
            padding: 30px;
        }
        @include responsive(xs) {
            padding: 20px;
        }
        @include responsive(sm-lg) {
            position: absolute;
            background-color: var(--white);
            left: 0;
            right: 0;
            top: auto;
        }
    }
}
.post-post,
.post-podcasts {
    .post-grid {
        display: flex;
        flex-direction: column;
        .desc-box {
            opacity: 0;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            @include transition(500ms);
        }
    }
}
.post-post {
    .post-grid {
        height: calc(var(--height, 424px) + 140px);
        .image-box {
            padding: 0;
            height: 55%;
            @include responsive(xs) {
                height: auto;
                padding: 60% 0;
            }
        }
        @include responsive(sm-lg) {
            .post-content {
                top: calc(var(--image-height) - 20px);
            }
        }
        .desc-box {
            -webkit-line-clamp: 5; /* number of lines to show */
            line-clamp: 5;
            @include transition(500ms);
            color: inherit;
            @include responsive(xs) {
                display: none;
            }
        }
        .post-taxonomy-term {
            @include responsive(xs) {
                display: none;
            }
        }
        .title {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1;
            -webkit-box-orient: vertical;
            color: inherit;
        }
        @include on-event {
            .post-content {
                top: 140px;
                .desc-box {
                    opacity: 1;
                }
            }
        }
    }
}

.post-podcasts {
    .podcast-heading {
        min-height: 52px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 8px !important;
        svg {
            margin-left: 1rem;
        }
    }
    .swiper-post-slider.fixed-height {
        .post-grid {
            .post-content {
                height: 124px;
            }
        }
    }

    .post-grid {
        height: var(--height);
        .image-box {
            --padding: 30%;
            flex-grow: 1;
            @include transition(500ms);
        }
        .post-content {
            padding: 34px 20px;
            position: relative;
            left: 0;
            right: 0;
            @include transition(500ms);
            overflow: hidden;
        }
        .desc-box {
            font-size: 1rem;
            -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2;
            p {
                font-size: inherit;
            }
        }
        .title {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2;
            -webkit-box-orient: vertical;
            color: inherit;
        }
        @include on-event {
            .post-content {
                height: var(--height, 228.38px) !important;
                .desc-box {
                    opacity: 1;
                }
            }
        }
    }
}

.post-testimonials {
    overflow: hidden;
    .swiper-nav-holder {
        margin-top: -10px;
    }
}

.testimonial-grid {
    padding: 20px;
    -webkit-box-shadow:
        0px 20px 24px -4px rgba(0, 0, 0, 8%),
        0px 8px 8px -4px rgba(0, 0, 0, 3%);
    -moz-box-shadow:
        0px 20px 24px -4px rgba(0, 0, 0, 8%),
        0px 8px 8px -4px rgba(0, 0, 0, 3%);
    box-shadow:
        0px 20px 24px -4px rgba(0, 0, 0, 8%),
        0px 8px 8px -4px rgba(0, 0, 0, 3%);
    margin-bottom: 40px;
    @include transition(500ms);
    .author-name {
        font-style: italic;
        font-weight: bold;
    }
    .author-position {
        p {
            font-size: 1rem;
        }
    }
    .wp-block-image {
        display: block;
    }
    @include on-event {
        background-color: var(--light-gray);
    }
}

.post-team {
    --padding: 60% 0;
    .row {
        --bs-gutter-y: 2rem;
        --bs-gutter-x: 2rem;
    }
}

.team-grid {
    background-color: var(--light-gray);
    .team-details {
        padding: 20px;
        .team-name {
            font-family: var(--primary-font);
            font-weight: 900;
            font-size: 16px;
            margin-bottom: 5px;
        }
        .team-position {
            font-style: italic;
            font-weight: bold;
        }
    }
}

.post-taxonomy-term {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    a {
        padding: 5px;
        text-decoration: none;
        color: var(--forest-gray);
        background-color: var(--light-gray);
        font-family: var(--secondary-font);
        margin-bottom: 5px;
        @include not-last-child {
            margin-right: 15px;
        }
        @include on-event {
            background-color: var(--torquoise);
        }
    }
}
section.blog-header {
    .image-style {
        --padding: 23%;
    }
}

section.blog-content {
    .share {
        border-bottom: 1px solid var(--forest-gray);
    }
    .the-content {
        > *:first-child {
            margin-top: 0;
        }
    }
}
.author-box {
    img,
    svg {
        width: 40px;
        height: 40px;
        margin-right: 11px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.post-grid-holder {
    @include responsive(xs) {
        display: flex;
        flex-direction: column-reverse;
        .swiper-nav-holder {
            display: none;
        }
    }
}
