section.team-section {
    .position {
        p {
            font-size: 24px;
            font-weight: bold;
        }
    }
    .image-box {
        --padding: 50%;
    }
}

section.post-team {
    .team-grid {
        .image-box {
            overflow: hidden
        }
        @include on-event {
            .image-box {
                img {
                    @include transform(scale(1.1));
                }
            }
        }
    }
}

.single-team.single-team.single-team {
    .hero {
        .heading-description {
            padding: 0;
        }
        .hero-icon {
            display: none;
        }
    }
}
